{% extends 'base.html' %}
{% block content %}

    <h1 class = 'display-1'>Hey there!</h1>
    <p class = 'lead'>{{ g.user.username }}</p>

    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
       
    <div style="margin-bottom: 60px;">
        <h3>Your Addresses</h3>
        <ul class = 'addresses'>
            {% for address in user_addresses %}
                <li class="coords">{{ address.latitude }}, {{ address.longitude }}
                <form action = "{{ url_for('go_outside') }}" method = 'POST' style ='display: inline;'>
                    <button type ='submit' class = 'btn'>Look UP?</button>
                </form>
                </li>
                <form action = "{{ url_for('delete_address', coordinates_id = address.id) }}" method = 'POST'>                 
                    <button type = 'submit' class='btn2'>Delete</button> 
                </form> 
            {% endfor %}
        </ul>
    </div>
    
    <div style="margin-top: 30px;">
    <h4>Add Address</h4>  
        <form action = "{{ url_for('add_address') }}" method = 'POST'>
            <button type = 'submit' class='btn' style="display: inline;">Add</button> 
        </form> 
    </div>

    <div>
    <h4>Edit Profile</h4>
        <form action = "{{ url_for('edit_user') }}" method = 'POST'>
            <button type = 'submit' class ='btn'>Edit</button>
        </form>
    </div>

    <div>
        <h4>Delete Profile</h4>
            <form action = "{{ url_for('delete_user') }}" method = 'POST'>
                <button type = 'submit' class ='btn'>Forget Me</button>
            </form>
        </div>
{% endblock %}