{% extends 'base.html' %}
{% block content %}

    <div class = 'main_container'>
        <p class = 'lead'>{{ g.user.username }}, please make edits below</p>

        {% if error %}
            <p class=error><strong>Error:</strong> {{ error }}</p>
        {% endif %}

        <div>
        <h4>Edit Profile</h4>
            <form name = "edit-profile" method = 'POST' action = "{{ url_for('edit_profile') }}">
                <div class = 'form_container'>
                    {{ form.hidden_tag() }}
                    {% for field in form
                    if field.widget.input_type != 'hidden' %}
                    <p>
                        {{ field.label(class_ = 'form_label') }}
                        {{ field(class_ = 'form_field') }}

                        {% for error in field.errors %}
                            <span class = 'form_error'>{{ error }}</span>
                        {% endfor %}
                    </p>
                    {% endfor %}
                </div>
            </form>   
        </div>
    </div>    
{% endblock %}