<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Look Up</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/styles.css">
</head>
<body>
    <nav>
        <div class = 'container'>
            <a href = '/' class = 'navbar-brand text-light'>Look Up</a>
            <ul class = 'nav navbar-nav flex-row-right'>
                {% if session['user_id'] %}
                <li class = 'nav-item'>
                    <a class = 'nav-link pre-3 text-light' href = 'logout'>Log out</a>
                </li>
                {% else %}
                <li class = 'nav-item'>
                    <a class = 'nav-link pre-3 text-light' href = '/login'>Login</a>
                </li>
                <li class = 'nav-item'>
                    <a class = 'nav-link text-light' href = '/register'>Create Account</a>
                </li>
                {% endif %}
            </ul>          
        </div>
    </nav>
    <div class = 'container' style = 'margin-top: 2 em'>
        {% for category_msg in get_flashed_messages(with_categories = True) %}
        <div class = 'alert alert {{ category }}'>{{ msg }}</div>
        {% endfor %}

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>