{% extends 'base.html' %}
{% block content %}

    <p class = 'lead'>{{ g.user.username }}, please make edits below</p>

    <div>
    <h4>Edit Profile</h4>
        <form name = "edit_user" method = 'POST' action = "{{ url_for('edit_user') }}">
            <div class = 'form_container'>
                {{ form.hidden_tag() }}
                {% for field in form
                if field.widget.input_type != 'hidden' %}
                <p>
                    {{ field.label(class_ = 'form_label') }}
                    {{ field(class_ = 'form_field') }}

                    {% for error in field.errors %}
                        <span class = 'form_error'>{{ error }}</span>
                    {% endfor %}
                </p>
                {% endfor %}

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class = 'flashes'>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
        </form>   
    </div>
{% endblock %}