{% extends 'base.html' %}
{% block content %}

    <h1 class = 'display-1'>Welcome Back</h1>
    <p class = 'lead'>Log in below to know when to turn your gaze skyward</p>

    <form name = 'login' method = 'POST' action = '/login'>
        <div class ='form_container'>
            {{ form.hidden_tag() }}
            {% for field in form
            if field.widget.input_type != 'hidden' %}
            <p>
                {{ field.label(class_ = 'form_label') }}
                {{ field(class_ = 'form_field') }}

                {% for error in field.errors %}
                    <span class = 'form_error'>{{ error }}</span>
                {% endfor %}
            </p>
            {% endfor %}

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class = 'flashes'>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </form>
{% endblock %}