{% extends 'base.html' %}
{% block content %}

    <h1 class = 'display-1'>Hey there!</h1>
    <p class = 'lead'>{{ g.user.username }}</p>

    <div>
        <h3>Your Addresses</h3>
        <ul class = 'addresses'>
            {% for address in user_addresses %}
                <li>{{ address.latitude }}, {{ address.longitude }}</li>
                <form action = "{{ url_for('go_outside') }}" method = 'POST'>
                    <button type ='submit' class = 'btn'>Look UP?</button>
                </form>
            {% endfor %}
        </ul>
    </div>

    <div>
    <h4>Add Address</h4>  
        <form action = "{{ url_for('add_address') }}" method = 'POST'>
            <button type = 'submit' class='btn'>Add</button> 
        </form>   
    </div>

    <div>
    <h4>Edit Profile</h4>
        <form action = "{{ url_for('edit_user') }}" method = 'POST'>
            <button type = 'submit' class ='btn'>Edit</button>
        </form>
    </div>

    <div>
        <h4>Delete Profile</h4>
            <form action = "{{ url_for('delete_user') }}" method = 'POST'>
                <button type = 'submit' class ='btn'>Forget Me</button>
            </form>
        </div>
{% endblock %}